<%- include('partials/header', { title: 'Product Details' }) %>
<h2>Product Details</h2>
<p>This is a detailed view of a product.</p>
<a href="/cart" class="btn btn-success">Add to Cart</a>
<%- include('partials/footer') %>
